---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&part=snippet&q=Aslandiaahneubnga
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Mon, 16 Jan 2023 01:11:06 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<flickr_api_key>&extras=url_l&format=json&method=flickr.photos.search&text=Aslandiaahneubnga
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":0,"perpage":100,"total":0,"photo":[]},"stat":"ok"})
  recorded_at: Mon, 16 Jan 2023 01:11:06 GMT
recorded_with: VCR 6.1.0
