---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&part=snippet&q=Florin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Mon, 16 Jan 2023 00:18:31 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<flickr_api_key>&extras=url_l&format=json&method=flickr.photos.search&text=Florin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":530,"perpage":100,"total":52976,"photo":[{"id":"15464602557","owner":"127566467@N07","secret":"eb7dab423e","server":"3934","farm":4,"title":"Greece,
        Macedonia, Vevi village, sunflower field","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52624968566","owner":"86617138@N00","secret":"75061d7095","server":"65535","farm":66,"title":"National
        Museum (N\u00e1rodn\u00ed muzeum) building in city core of Prague, Czech Republic.
        January 10, 2023","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/52624968566_75061d7095_b.jpg","height_l":737,"width_l":1024},{"id":"52624814734","owner":"20936529@N03","secret":"3da3a2a459","server":"65535","farm":66,"title":"Marius
        Manole","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52621247689","owner":"36824754@N02","secret":"d9f8fea606","server":"65535","farm":66,"title":"Das
        Verbot! \u00b7 The ban!","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/52621247689_d9f8fea606_b.jpg","height_l":723,"width_l":1024},{"id":"52621213689","owner":"46017193@N00",[...]
