---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<flickr_api_key>&extras=url_l&format=json&method=flickr.photos.search&text=Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":4653,"perpage":100,"total":465293,"photo":[{"id":"52629497104","owner":"66855284@N03","secret":"088b069c0e","server":"65535","farm":66,"title":"Gas
        Works Park 2023 01 03 25","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/52629497104_088b069c0e_b.jpg","height_l":683,"width_l":1024},{"id":"52629234541","owner":"66855284@N03","secret":"7e36c1c630","server":"65535","farm":66,"title":"Gas
        Works Park 2023 01 03 23","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/52629234541_7e36c1c630_b.jpg","height_l":683,"width_l":1024},{"id":"52629228981","owner":"44478024@N00","secret":"c337de657e","server":"65535","farm":66,"title":"Cackling\/Canada
        Goose","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflic[...]
